*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 


main{
background-color: rgb(209, 114, 155);
height: 90vh;
padding-top: 1rem;



}

header{
background-color: rgb(125, 125, 207);
height: 10vh;

}
h1{

    font-size: 3rem;
    padding-left: 1rem;
}
.fatto{
    text-decoration: line-through;
}

ul{
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 19rem;
    font-size: 2rem;
    margin-left: 3rem;
    list-style: none;
    
    align-items: center;
   
}

button{
    width: 2rem;
    height: 2rem;
   
}

li{
    padding: 0.5rem;
}